
*.ini
*.bin
ElementsGame/Intermediate/CachedAssetRegistry.bin
ElementsGame/Saved/AutoScreenshot.png
ElementsGame/Saved/Config/Windows/EditorPerProjectUserSettings.ini
ElementsGame/Saved/Logs/ElementsGame.log
